.tripcard {
    background: #0d1115;
    border-radius: 22px;
    padding: 1.8rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
  
    box-shadow:
      6px 6px 14px rgba(0, 0, 0, 0.6),
      -6px -6px 14px rgba(255, 255, 255, 0.04);
  
    transition: 0.3s ease;
  }
  
  .tripcard:hover {
    transform: translateY(-5px);
    box-shadow:
      8px 8px 18px rgba(0, 0, 0, 0.65),
      -6px -6px 12px rgba(255, 255, 255, 0.06);
  }
  
  .tripcard-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2fe0b0;
    margin-bottom: 1rem;
  }
  
  .tripcard-info p {
    margin: 4px 0;
    opacity: 0.8;
  }
  
  .tripcard-btn {
    margin-top: 1rem;
    padding: 0.6rem 1.3rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
  
    background: #161b21;
    color: #2fe0b0;
    font-weight: 600;
  
    box-shadow:
      inset 4px 4px 8px rgba(0, 0, 0, 0.5),
      inset -4px -4px 8px rgba(255, 255, 255, 0.05);
  
    transition: 0.3s ease;
  }
  
  .tripcard-btn:hover {
    background: #1d2228;
  }
  